<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MainCore_Server.Properties.Settings.perceptodent_dataConnectionString" connectionString="Data Source=oak.arvixe.com;Initial Catalog=perceptodent_data;Persist Security Info=True;User ID=percetodent_negocio;Password=negocio;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModeloDatosServidorContainer" connectionString="metadata=res://*/ModeloDatosServidor.csdl|res://*/ModeloDatosServidor.ssdl|res://*/ModeloDatosServidor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oak.arvixe.com;initial catalog=perceptodent_data;persist security info=True;user id=percetodent_negocio;password=negocio;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>